#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 680px;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 680px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.bg {
    background-color: #0E294B;
}

.bg-g {
    background-color: #fcfcfc;
}

.no-border {
    border-bottom: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.text-blue {
    color: #56D9FE !important;
    border-left: #56D9FE 5px solid !important;
}

.btn-primary {
    background-color: white !important;
    color: #4D565C;
    border-color: #D7DAE2;
}

.circle-abierto {
    color: #FFDA83;
}

.circle-cerrado {
    color: #56D9FE;
}

.circle-pendiente {
    color: #FF8373;
}

.text-circle {
    color: #4D4F5C;
    font-size: 13px;
    text-decoration: none;
}

.alto {
    height: 100vh;
}

#titulo-us {
    font-size: 25px !important;
    margin-left: 1rem;
}

.ancho-btn {
    min-width: 30px !important;
}

.btn-margin {
    margin-left: -38px !important;
}

.col-margin {
    border-right: #D6D6D7 1px solid !important;
    height: 78vh;
}

.contenedor {
    display: flex;
    background-color: #0E294B !important;
    position: relative !important;
    right: 70px;
}

.avatar-m {
    max-width: 94px;
}

.nb {
    border: none !important;
}

.user-box-form {
    background-color: #F3F3F3 !important;
    border-radius: 0px;
    border: none !important;
    border-bottom: #BCBCCB 2px solid !important;
}

.sm-txt {
    font-size: 10px !important;
    color: #4D565C !important;
}

.btn-save {
    background-color: #56D9FE !important;
    color: white !important;
}

.btn-cancel {
    background-color: #fd0054 !important;
    border-color: #fd0054 !important;
    color: white !important;
}

.dropdown-toggle::after {
    display: none !important;
}