<nav>
    <app-navbar></app-navbar>
</nav>

<aside>
    <app-sidebar></app-sidebar>
</aside>

<section id="main-card">
    <div class="card-top">
        <h4>Usuarios</h4>
        <div>
            <select id="tipo-usuario">
                <!-- <option value="" disabled selected>--Seleccione--</option> -->
                <option value="Administrador">Administrador</option>
                <option value="Soporte">Soporte</option>
            </select>
        </div>
    </div>
    <div class="card-content">
        <div class="busqueda-usuarios">
            <div class="input-search">
                <input type="search" name="" id="" placeholder="Buscar usuario">
                <button class="btn" (click)="buscarUsuario()">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <ul>
                <li *ngFor="let usuario of usuarios; let i=index" (click)="cargarDataUsuario(usuario,i)"> {{usuario.nombre}} {{usuario.apellido}} </li>
            </ul>
        </div>
        <!-- Main card form -->
        <div class="card-form">
            <form [formGroup]="formulario" (ngSubmit)="guardar()">
                <div class="img-form">
                    <img *ngIf="nodata" src="../../../assets/img/dafault.png" alt="">
                    <img *ngIf="!nodata" [src]="this.ImagenUsuario" alt="default user" />
                </div>

                <div class="form-input">
                    <small class="sm-txt">Nombre(s)</small>
                    <div>
                        <input type="text" class="box-form" formControlName="nombre" [class.is-invalid]="NombreNoValido" />
                        <div>
                            <small *ngIf="NombreNoValido" class="text-danger">
                                El Nombre es obligatorio
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-input">
                    <small class="sm-txt">Apellido Paterno</small>
                    <div>
                        <input type="text" formControlName="apellidoPaterno" [class.is-invalid]="apellidoPNoValido" class="box-form" />
                        <div>
                            <small *ngIf="apellidoPNoValido" class="text-danger">
                                El Apellido Paterno es obligatorio
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-input">
                    <small class="sm-txt">Apellido Materno</small>
                    <div>
                        <input type="text" formControlName="apellidoMaterno" [class.is-invalid]="apellidoMNoValido" class="box-form" />
                        <div>
                            <small *ngIf="apellidoMNoValido" class="text-danger">
                              El Apellido Materno es obligatorio
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-input">
                    <small class="sm-txt">Correo</small>
                    <div>
                        <input type="email" formControlName="correo" [class.-is-invalid]="correoNoValido" class="box-form" />
                        <div>
                            <small *ngIf="correoNoValido" class="text-danger">
                                El Correo es obligatorio
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-input">
                    <small class="sm-txt">Perfil</small>
                    <div>
                        <select class="box-form-select" formControlName="perfil" [class.is-invalid]="perfilNoValido">
                            <option value="Administrador"> Administrador </option>
                            <option value="Soporte"> Soporte </option>
                            <option value="" selected disabled hidden> Seleccione tipo </option>
                       
                        </select>
                        <div>
                            <small *ngIf="perfilNoValido" class="text-danger">
                               El Perfil es obligatorio
                            </small>
                        </div>
                    </div>
                </div>


                <div class="form-input">
                    <small class="sm-txt">Alias</small>
                    <div>
                        <input type="text" formControlName="alias" class="box-form" />
                        <div>
                            <small *ngIf="AliasNoValido" class="text-danger">
                               El Alias es obligatorio
                            </small>
                        </div>
                    </div>
                </div>

            </form>

            <div class="btn-form">
                <button [disabled]="nodata" (click)="guardar()" class="btn btn-success">Guardar</button>
                <button [disabled]="nodata" (click)="cancelar()" class="btn btn-danger">Cancelar</button>
            </div>
        </div>
        <!-- End main card form -->
    </div>

</section>