<div class="titulo-card">
    <div class="selector">
        <h4>Últimos Tickets</h4>
    </div>
</div>
<div class="cuerpo-card">
    <div class="tickets">
        <ul>
            <!-- Poner ng for para mostrar todos los tickets que vengan de la DB -->
            <li>
                <div class="titulo-ticket">
                    Ticket ID: 12345
                </div>
                <div class="detalle-ticket">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam temporibus obcaecati facere</p>
                </div>
            </li>
            <li>
                <div class="titulo-ticket">
                    Ticket ID: 12345
                </div>
                <div class="detalle-ticket">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam temporibus obcaecati facere</p>
                </div>
            </li>
            <li>
                <div class="titulo-ticket">
                    Ticket ID: 12345
                </div>
                <div class="detalle-ticket">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam temporibus obcaecati facere</p>
                </div>
            </li>
            <li>
                <div class="titulo-ticket">
                    Ticket ID: 12345
                </div>
                <div class="detalle-ticket">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam temporibus obcaecati facere</p>
                </div>
            </li>
        </ul>

    </div>
</div>