#side {
    width: 16%;
    height: 100vh;
    background-color: #0E294B;
    position: fixed;
    float: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#side h3 {
    padding-top: 20px;
    color: white;
    list-style: none;
    text-align: center;
}

#side ul li:first-child {
    margin-top: 30px;
}

#side ul {
    padding-left: 0px;
}

#side ul li {
    display: block;
    overflow-x: hidden;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    list-style: none;
    color: white;
    padding-left: 30px;
    margin-bottom: 20px;
}

#side ul li a i {
    margin-right: 10px;
}

#side ul li:hover {
    cursor: pointer;
}

.text-blue {
    color: #56D9FE !important;
    border-left: #56D9FE 5px solid !important;
}

.hide-sidebar-icon {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    color: white;
}

.sub-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    outline: none;
    border-top: 1px solid rgb(135, 147, 212);
}

.btn-hide {
    width: 100%;
    border: none;
    background-color: #0E294B;
    padding-top: 10px;
    color: white;
    outline: none;
}

.expandir {
    width: 16% !important;
    transition: all 400ms;
}

.contraer {
    width: 6.5% !important;
    overflow: hidden;
    transition: all 400ms;
}


/* Media Queries */

@media(max-width: 880px) {
    #side {
        margin-left: -15rem;
        transition: all 400ms;
    }
}