<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-white">Logo</div>

        <div class="list-group list-group-flush">
            <a [routerLink]="['/home']" routerLinkActive="text-blue" class="list-group-item list-group-item-action bg no-border">
                <i class="fas fa-home"></i> Home</a>

            <a [routerLink]="['/clientes']" routerLinkActive="text-blue" class="list-group-item list-group-item-action bg text-white no-border">
                <i class="far fa-user"></i> Usuarios</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <app-navbar></app-navbar>

        <div class="container-fluid bg-g">

            <!-- PRIMERA FILA PRINCIPAL -->
            <div class="row mt-4 ">
                <!-- Card gráfica barra ticket semanal-->
                <div class="col-lg-6 col-12">

                    <div class="card alto">
                        <div class="card-header bg-white card-nb">
                            <div class="">
                                <div class="row mb-0">
                                    <div class="col">
                                        <p>Ticket</p>
                                    </div>
                                    <div class="col-6">

                                    </div>
                                    <div class="col">
                                        <!-- Dropdown selección de gráfica -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary">{{this.chartSeleccionado}}</button>
                                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" (click)="semanalSeleccionado()">Semanal</a>
                                                <a class="dropdown-item" (click)="mensualSeleccionado()">Mensual</a>
                                                <a class="dropdown-item" (click)="anualSeleccionado()">Anual</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="container">
                                        <ul class="list-inline text-center">
                                            <li class="list-inline-item"><a class="text-circle"><i class="fas fa-dot-circle circle-abierto"></i> Abierto </a></li>
                                            <li class="list-inline-item"><a class="text-circle"><i class="fas fa-dot-circle circle-cerrado"></i> Cerrado </a></li>
                                            <li class="list-inline-item"><a class="text-circle"><i class="fas fa-dot-circle circle-pendiente"></i> Pendiente</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <app-chartticketsemanal *ngIf="verChartSemanal"></app-chartticketsemanal>
                            <app-chartticketmensual *ngIf="verChartMensual"></app-chartticketmensual>
                            <app-chartticketanual *ngIf="verChartAnual"></app-chartticketanual>
                        </div>

                    </div>

                </div>
                <!-- Card gráfica pastel clientes  -->
                <div class="col-lg-6 col-12">
                    <app-chartclientes></app-chartclientes>
                </div>
            </div>
            <!-- SEGUNDA FILA PRINCIPAL -->
            <div class="row mt-4 mb-4">
                <!-- Card grafica linea promedio atención -->
                <div class="col-lg-4 col-12">
                    <app-chartpromedioatencion></app-chartpromedioatencion>
                </div>
                <!-- Card usuarios -->
                <div class="col-lg-4 col-12">

                    <div class="card alto">
                        <div class="card-header bg-white">
                            Usuarios
                        </div>
                        <div class="card-body">
                            <table>
                                <tbody>
                                    <tr *ngFor="let usuario of usuarios" class="mb-4 mt-4">
                                        <td>
                                            <img class="avatar-s mt-1 mb-2 mr-2" [src]="usuario.imagen" alt="imagen de usuario">
                                        </td>
                                        <td>{{usuario.nombre}} {{usuario.apellido}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!-- Card últimos tickets -->
                <div class="col-lg-4 col-12">

                    <div class="card alto">
                        <div class="card-header bg-white">
                            Últimos Tickets
                        </div>
                        <div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" *ngFor="let ticket of tickets">
                                    <small style="color: #D7DAE2;">Ticket #</small><small style="color: blue;">{{ticket.id}} </small>
                                    <p>{{ticket.descripcion}}</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <!-- Menu Toggle Script -->



</div>