<nav>
    <app-navbar></app-navbar>
</nav>

<aside>
    <app-sidebar></app-sidebar>
</aside>

<section>
    <div class="card-group">
        <div class="card card-graficas">
            <app-chart-tickets></app-chart-tickets>
        </div>
        <div class="card card-clientes">
            <app-chartclientes></app-chartclientes>
        </div>
        <div class="card card-atencion">
            <app-chartpromedioatencion></app-chartpromedioatencion>
        </div>
        <div class="card card-usuarios">
            <app-card-usuarios></app-card-usuarios>
        </div>
        <div class="card card-tickets">
            <app-card-tickets></app-card-tickets>
        </div>
    </div>
</section>