.btn-search {
    right: 5px;
}

.wh {
    width: 15rem;
    padding-right: 30px;
}

.bg {
    background-color: #FCFCFC !important;
}

.button-bg {
    background-color: #0E294B !important;
    border-color: #0E294B !important;
}

.arrow {
    color: white !important;
}

#navbarDropdown {
    margin-top: 10px !important;
}

.bell {
    margin-top: 10px !important;
}